.template_news_wrap{
    .template_news_content{
        margin-top: 119px;
        margin-bottom: 140px;
        max-width: 1415px;
        overflow: hidden;

        .page_hero_descripton{
            h2{
                box-sizing: border-box;

                @media @laptop-s {
                    padding-left: 45px;
                }
            }
        }

        .filters_holder {
            display: flex;
            overflow: auto;
            margin-bottom: 50px;

            @media @tablet-s {
                margin-bottom: 88px;
            }

            .filter_wrap {
                display: inline-flex;
                margin: auto;

                .single_item{
                    padding: 20px;
                    box-sizing: border-box;
                    background-color: #E7E7E7;
                    margin-right: 5px;
                    cursor: pointer;
                    .transition();
                    min-width: 120px;

                    @media @laptop-s {
                        min-width: 300px;
                    }

                    p{
                        .text();
                        font-size: 16px;
                        text-align: center;
                        color: #032549;
                        font-family: @fontB;
                        white-space: nowrap;
                    }

                    &:hover, &.active{
                        background-color: #5C728A;

                        p{
                            color: #fff;
                        }
                    }

                    &:last-child{
                        margin-right: 0px;
                    }
                }
            }
        }


        .news_wrap{
            display: flex;
            flex-wrap: wrap;
            max-width: 540px;
            margin: auto;

            @media @laptop-s {
                margin-left: -11px;
                margin-right: -11px;
                max-width: 100%;
            }

            .single_news {
                width: 100%;
                box-sizing: border-box;
                margin-bottom: 47px;

                @media @laptop-s {
                    margin-bottom: 65px;
                    padding: 0 11px;
                    width: 33.33333%;
                }

                &:last-child {
                    //margin-bottom: 73px;
                }

                .image_holder {
                    position: relative;
                    padding-top: 80%;
                    overflow: hidden;
                    background-color: @color1;

                    img {
                        &:not(.no_image_logo) {
                            .cropped_img();
                            z-index: 1;
                        }

                        &.no_image_logo {
                            position: absolute;
                            top: 45%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            width: 163px;
                            z-index: 0;
                        }
                    }
                }

                .news_info {
                    background-color: #Fff;
                    position: relative;
                    z-index: 2;
                    padding: 15px;
                    box-sizing: border-box;
                    max-width: calc(100% - 42px);
                    margin: auto;
                    margin-top: -60px;
                    min-height: 180px;

                    @media @tablet-s {
                        padding: 32px 22px;
                        max-width: calc(100% - 70px);
                        min-height: 208px;
                    }

                    h3 {
                        color: #032549;
                        font-size: 20px;
                        font-family: @fontB;
                        letter-spacing: 1px;
                        margin-bottom: 20px;

                        @media @tablet-s {
                            margin-bottom: 5px;
                        }
                    }

                    .date {
                        .text();
                        font-size: 16px;
                        color: #032549;
                    }

                    .opener {
                        position: absolute;
                        right: 15px;
                        bottom: 15px;
                        width: 16px;
                        height: 16px;
                        z-index: 3;
                        display: flex;

                        @media @tablet-s {
                            right: 24px;
                            bottom: 24px;
                            width: 24px;
                            height: 24px;
                        }

                        span {
                            display: inline-block;
                            height: 2px;
                            background-color: #F6A71E;
                            width: 100%;
                            position: absolute;

                            &:nth-of-type(2) {
                                left: 50%;
                                transform: translateX(-50%) rotate(90deg);
                            }
                        }
                    }
                }
            }
        }

        .button_holder{
            margin-top: 40px;
            text-align: center;
        }
    }
}