.template_fundraising_wrap{
    .template_fundraising_content{
        margin-top: 69px;
        margin-bottom: 80px;
        overflow: hidden;

        @media @tablet-s {
            margin-top: 89px;
            margin-bottom: 125px;
        }

        @media @laptop-s {
            margin-top: 119px;
            margin-bottom: 165px;
        }

        .list_section{
            background-color: #F4F4F4;
            padding: 30px;
            box-sizing: border-box;
            margin-bottom: 40px;

            @media @tablet-s {
                margin-bottom: 60px;
                padding: 40px;
            }

            @media @laptop-s {
                margin-bottom: 125px;
                padding: 48px 90px 80px 90px;
            }

            .list_section_content{
                .single_item{
                    margin-bottom: 47px;

                    &:last-child{
                        margin-bottom: 0px;
                    }

                    h3{
                        color: #032549;
                        font-size: 18px;
                        font-family: @fontEB;
                        letter-spacing: 1px;
                        line-height: 1.26em;
                        margin-bottom: 5px;

                        &:before{
                            content: '+';
                            position: relative;
                            color: #F6A71E;
                        }
                    }

                    p{
                        .text();
                        font-size: 16px;
                    }
                }
            }
        }

        .orange_box{
            width: 100%;
            margin-bottom: 69px;

            @media @tablet-s {
                margin-bottom: 89px;
            }
    
            @media @laptop-s {
                margin-bottom: 119px;
            }

        }

        .activities_section{
            h2{
                color: #032549;
                font-size: 32px;
                font-family: @fontEB;
                letter-spacing: 1px;
                margin-bottom: 35px;

                @media @tablet-s {
                    font-size: 52px;
                    margin-bottom: 75px;
                }
            }

            p{
                .text();
            }

            .single_activity{
                padding-top: 35px;
                padding-bottom: 35px;
                border-top: 1px solid #5C728A;
                display: flex;
                flex-wrap: wrap;

                @media @tablet-s {
                    padding-top: 95px;
                    padding-bottom: 95px;
                }

                &:last-child{
                    border-bottom: 1px solid #5C728A;
                }

                .left{
                    width: 100%;

                    @media @tablet-l{
                        width: 40%;
                    }

                    .single_activity_swiper{
                        padding-bottom: 30px;

                        .image_holder{
                            position: relative;
                            overflow: hidden;
                            padding-top: 67%;

                            img{
                                .cropped_img();
                            }
                        }

                        .swiper-pagination{
                            bottom: 0px;

                            .swiper-pagination-bullet{
                                background: #979797;
                                width: 10px;
                                height: 10px;
                                margin: 0 3px;
                            }
                            .swiper-pagination-bullet-active{
                                background: #F6A71E;
                            }
                        }
                    }
                }

                .right{
                    width: 100%;
                    box-sizing: border-box;
                    margin-top: 40px;

                    @media @tablet-l{
                        width: 60%;
                        margin-top: 0px;
                        padding-left: 87px;
                    }

                    h3{
                        color: #032549;
                        font-size: 30px;
                        font-family: @fontEB;
                        letter-spacing: 1px;
                        margin-bottom: 15px;

                        @media @tablet-s {
                            font-size: 40px;
                        }
                    }

                    .date{
                        margin-bottom: 30px;
                        font-size: 16px;
                        color: #032549;
                        font-family: @fontR;
                    }

                    p{
                        .text();
                        line-height: 1.4em;
                        font-size: 16px;
                    }
                }

            }
        }

        .past_fundriser{
            margin-top: 53px;

            @media @tablet-s {
                margin-top: 73px;
            }

            @media @laptop-s {
                margin-top: 115px;
            }

            h2{
                color: #032549;
                font-size: 32px;
                font-family: @fontEB;
                letter-spacing: 1px;
                margin-bottom: 43px;

                @media @tablet-s {
                    font-size: 52px;
                    margin-bottom: 63px;
                }

                @media @laptop-s {
                    margin-bottom: 93px;
                }
            }

            .single_fundriser{
                margin-bottom: 25px;

                @media @tablet-s {
                    margin-bottom: 50px;
                }

                &:last-child{
                    margin-bottom: 0px;
                }

                h3{
                    color: #032549;
                    font-size: 16px;
                    font-family: @fontEB;
                    letter-spacing: 1px;
                    line-height: 1.26em;
                    margin-bottom: 10px;

                    @media @tablet-s {
                        font-size: 18px;
                    }
                }

                p{
                    .text();
                    font-size: 16px;
                    color: #032549;
                }
            }
        }

    }
}