.template_members_wrap{
    padding-top: 62px;

    @media @tablet-s {
        padding-top: 122px;
    }

    @media @laptop-s {
        padding-top: 172px;
    }
    
    .template_members_content{
        margin-top: 69px;
        margin-bottom: 80px;
        overflow: hidden;

        @media @tablet-s {
            margin-top: 89px;
            margin-bottom: 125px;
        }

        @media @laptop-s {
            margin-top: 119px;
            margin-bottom: 165px;
        }

        .single_member_group{
            margin-bottom: 50px;

            &:last-child{
                margin-bottom: 0px;
            }

            h2{
                color: #032549;
                font-size: 32px;
                font-family: @fontEB;
                letter-spacing: 1px;
                margin-bottom: 40px;
                box-sizing: border-box;
                
                @media @tablet-s {
                    font-size: 52px;
                    margin-bottom: 60px;
                    padding-left: 7px;
                }

                @media @laptop-s {
                    margin-bottom: 118px;
                }
            }

            .members_wrap{
                display: flex;
                flex-wrap: wrap;
                margin-left: -10px;
                margin-right: -10px;
                

                @media @tablet-s {
                    margin-left: -20px;
                    margin-right: -20px;
                }

                .single_member{
                    width: 50%;
                    padding: 0 10px;
                    box-sizing: border-box;
                    margin-bottom: 40px;
                    
                    @media @tablet-s {
                        width: 33.33333%;
                        margin-bottom: 50px;
                        padding: 0 20px;
                    }
                
                    @media @laptop-s {
                        width: 25%;
                        margin-bottom: 70px;
                    }

                    .image_holder_wrap{
                        margin-bottom: 30px;
                        position: relative;

                        .image_holder{
                            position: relative;
                            overflow: hidden;
                            padding-top: 119%;
                            background-color: @color1;
    
                            .single_member_image{
                                .cropped_img();
                            }

                            .no_image_logo {
                                position: absolute;
                                top: 45%;
                                left: 50%;
                                transform: translate(-50%,-50%);
                                width: 163px;
                                z-index: 0;
                            }
                        }

                        .social_icons{
                            position: absolute;
                            right: 15px;
                            bottom: 15px;
                            display: flex;

                            @media @tablet-s {
                                right: 30px;
                                bottom: 20px;
                            }

                            a{
                                width: 30px;
                                height: 30px;
                                border-radius: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                .transition();

                                &.linkedin{
                                    background-color: #F6A71E;
                                    margin-right: 15px;
                                }

                                &.email{
                                    background-color: #5C728A;
                                }

                                &:hover{
                                    &.linkedin{
                                        background-color:@color1;
                                    }
    
                                    &.email{
                                        background-color:@color1;
                                    } 
                                }
                            }
                        }
                    }

                    h3{
                        color: #032549;
                        font-size: 20px;
                        font-family: @fontEB;
                        letter-spacing: 1px;
                        margin-bottom: 5px;
                    }

                    p{
                        .text();
                        font-size: 16px;
                    }
                    
                }
            }
        }
        
    }
}