.template_achivements_wrap{
    .template_achivements_content{
        margin-top: 69px;
        margin-bottom: 80px;

        @media @tablet-s {
            margin-top: 89px;
            margin-bottom: 125px;
        }

        @media @laptop-s {
            margin-top: 119px;
            margin-bottom: 144px;
        }
        
        .achivements_list{
            .single_item{
                padding: 54px 0px;
                box-sizing: border-box;
                border-bottom: 1px solid #5C728A;
                display: flex;
                flex-wrap: wrap;
                
                &:first-child{
                    padding-top: 0px;
                };

                &:last-child{
                    border: none;
                };

                .left{
                    width: 60%;
                    margin-bottom: 20px;

                    @media @tablet-s{
                        margin-bottom: 0px;
                        width: 30%;
                    }

                    @media @tablet-l{
                        width:  20%;
                    }

                    .image_holder {
                        img {
                            width: 100%;
                        }
                    }
                }

                .right{
                    width: 100%;
                    box-sizing: border-box;

                    @media @tablet-s{
                        width:  70%;
                        padding-left: 43px;
                    }

                    @media @tablet-l{
                        width:  80%;
                        padding-left: 73px;
                    }

                    h3{
                        color: #032549;
                        font-size: 24px;
                        font-family: @fontEB;
                        letter-spacing: 1px;
                        line-height: 1.26em;
                        margin-bottom: 20px;
                    }

                    p{
                        .text();
                        font-size: 16px;
                        margin-bottom: 23px;
                    }

                    a{
                        font-size: 16px;
                        color: #5C728A;
                        line-height: 1.26em;
                        font-family: @fontR;
                        .transition();

                        &:hover{
                            color: @color2;
                        }
                    }
                }
            }
        }
    }
}